{% extends 'WebsiteBundle::base.html.twig' %}
{% block content %}
    <body>
    <div class="main">>

        <div class="innermain">
                <div class="consent">
                    <h3 class> Consent and Release Agreement</h3>
                </div>
                <div class="writing1">
                    <p style="font-weight: bold">Consent and Release Agreement for Use of Photo and Likeness</p>
                    <p>
                        I hereby grant to Vlad, Ltd. and its subsidiaries, affiliates, agents, representatives and
                        designees (collectively, "V-group") the irrevocable, non-exclusive, non-transferable,
                        royalty-free
                        perpetual right and license to use and display my photo ("Photo") for any and all purposes,
                        including
                        marketing, promotion or advertising, in any and all media channels and social platforms (now
                        known or
                        hereafter existing), without compensation, payment or other consideration of any kind. Vlad may
                        use,
                        display, edit, alter, reproduce, create derivative works from, publish or distribute the Photo
                        for any
                        lawful purpose in its sole discretion, with no obligation to me or right of inspection or
                        approval. I
                        further grant Madden the right to use my name, username, social media handle and/or likeness as
                        depicted
                        in the Photo (collectively, "Likeness") in connection with Madden's use of the Photo.
                    </p>
                    <p>
                        I represent that: (i) the Photo is original and that I own all rights, including copyright, in
                        and to
                        the Photo or that I have obtained the necessary permissions to grant the rights given herein;
                        (ii) if
                        anyone is depicted in the Photo other than me, I have obtained all necessary permissions and
                        releases
                        from such person(s) to grant the rights given to Vlad herein and that any such person(s) is over
                        the
                        age of majority in his/her state of legal residence; and (iii) Vlad's use of the Photo and/or my
                        Likeness as granted herein will not violate the rights of any third party or any law.
                    </p>
                    <p>
                        I represent that I am a resident of the United States and that I am at least 18 years of age or
                        older. I
                        hereby release, discharge and hold harmless and indemnify Vlad, its officers, directors and
                        employees
                        from any and all claims, demands or causes of action relating to, arising from or caused by the
                        Photo,
                        my Likeness and/or the rights granted herein and/or any claims, demands or causes of action
                        which I, my
                        heirs, representatives, executors, administrators, or any other persons acting on my behalf or
                        on behalf
                        of my estate have or may have by reason of this Agreement.
                    </p>
                    I agree that: (i) this Agreement shall be governed by, and construed in accordance with, the laws of
                    the
                    State of New York, without giving effect to any choice of law or conflict of law rules (whether of
                    the
                    State of New York, or any other jurisdiction), which would cause the application of the laws of any
                    jurisdiction other than the State of New York; (ii) any dispute relating to this Agreement shall be
                    brought in the appropriate state or federal court having jurisdiction over the subject matter
                    located in
                    New York, New York and I hereby irrevocably consent to the personal jurisdiction of said courts and
                    waive any claim of forum non conveniens or lack of personal jurisdiction that I may have; and (iii)
                    IN
                    THE EVENT OF A DISPUTE AS BETWEEN ME AND MADDEN RELATING TO OR ARISING FROM THIS AGREEMENT AND THE
                    RIGHTS GRANTED HEREIN, IN NO EVENT WILL MADDEN BE LIABLE TO ME FOR LOST PROFITS OR ANY PUNITIVE,
                    SPECIAL, INDIRECT, INCIDENTAL, OR CONSEQUENTIAL DAMAGES OF ANY KIND OR HAVE ANY LIABILITY EXCEEDING
                    THE
                    AGGREGATE AMOUNT OF TEN DOLLARS ($10.00).
                </div>
            </div>
        </div>
    </body>
{% endblock %}