{% extends 'WebsiteBundle::base.html.twig' %}
{% block content %}
    <div class="main">
        <div class="innermain">
            <div class="consent">
                <h3>CONTACT US</h3>
            </div>
            <div class="faq">
                <div class="writing2">
                    <h6 style="font-weight: bold"> Want Some Help? We love hearing from
                        you </h6>
                    <ul class="listing">
                        <li style="font-weight: bold">Phone</li>
                        <li>1-800-747-VLD</li>
                        <li>123-456-7890 (OUTSIDE THE US)</li>
                        <li>7 days a week, 9am to 5pm EST</li>
                    </ul>
                    <ul class="listing">
                        <li style="font-weight: bold">Email</li>
                        <li>evlad3201@gmail.com</li>
                    </ul>
                    <ul class="listing">
                        <li style="font-weight: bold">Mail</li>
                        <li>Vlad Ltd</li>
                        <li>Attn: Part-time CEO, Ecommerce</li>
                        <li>120 51st St.</li>
                        <li>New York, NY, 10001</li>
                        <li style="font-weight: bold"><u>Do not send returns or promotional
                                material to this address</u></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}