{% extends 'WebsiteBundle::base.html.twig' %}

{% block content %}
    <div class="main">
        <div class="innermain">
            <div class="consent">
                <h3>FREQUENTLY ASKED QUESTIONS</h3>
            </div>
            <div class="faq">
                <div class="writing2">
                    <h4><u>ORDERS</u></h4>
                    &nbsp;
                    <p><b>How will I know if my order is confirmed?</b></p>
                    <p>You will receive an order confirmation via email.</p>

                    <p><b>Can I make changes or cancel my online order?</b></p>
                    <p>Please contact us immediately by calling 0745774465. If you contact us within 20
                        minutes
                        of placing your order we can cancel and replace the order. However, once an order begins
                        processing
                        no
                        changes can be made. Most orders are shipped within 24 hours. In this case, we ask that you
                        please
                        wait
                        until the order arrives and follow the normal return policy procedure. Clearance items may not
                        be
                        returned
                        or exchanged.</p>

                    <p><b>Can I change the style, color or size after an order is placed?</b></p>
                    <p>We are unable to make any product changes to an existing order. Please contact us immediately
                        by calling 0745774465. If you contact us within 20 minutes of placing your order we can
                        cancel
                        and
                        replace the order. However, once an order begins processing no changes can be made. Most orders
                        are
                        shipped
                        within 24 hours. In this case, we ask that you please wait until the order arrives and follow
                        the
                        normal
                        return policy procedure. Clearance items may not be returned or exchanged.</p>

                    <p><b>When is my order shipped?</b></p>
                    <p>Most orders are shipped the next business day after they are placed. We use FedEx ground shipping
                        for
                        all
                        orders in the continental US. Orders arrive within 3-7 business days unless Two Day or Next Day
                        shipping
                        options were chosen at checkout. Orders to Hawaii and Alaska also arrive in 3 - 7 business days;
                        orders to
                        US Virgin Islands, Guam and Puerto Rico usually take about 2 weeks to arrive.</p>


                    <p><b>What if I place an order and Vlad Ltd. doesn't have the item in stock?</b></p>
                    <p>If we are unable to fill your order you will be notified via email. Your credit card/PayPal
                        account
                        will not
                        be charged. You can also check the status online by signing in to your account and going to "My
                        Orders".</p>

                    <h4><u>BILLING & SHIPPING</u></h4>
                    <p><b>What forms of payment are accepted for online purchases, and when am I billed?</b></p>
                    <p>We accept Visa, MasterCard, American Express, Discover, JCB, Diners Club, PayPal, Apple Pay
                        . We do an authorization when the order is placed to verify that the funds are
                        available.
                        We do not charge your card or account until the order has been shipped. </p>
                    <p><b>When is my order shipped?</b></p>
                    <p>Most orders are shipped within 24 hours of when they are placed</p>
                    <p><b>Can I ship an order to multiple addresses?</b></p>
                    <p>At this time we can only have one shipping address per order. However, you may place multiple
                        orders.</p>

                    <h4><u>RETURNS</u></h4>
                    <p><b>What is the usual turnaround time for returns?</b></p>
                    <p>If you are shipping it back to us using our prepaid return label the usual turnaround time is 1 -
                        2 weeks from the day you give the package to FedEx or USPS until the merchandise is checked in
                        at the warehouse and the refund is issued. Do not ship items back through any other means other
                        than the prepaid return label that we provide as package may be returned to you.</p>
                    <p><b>What is your policy on damaged items?</b></p>
                    <p>If you received damage or defective items, please notify us immediately via email or by
                        calling 0744774465 and we will have FedEx pick up the package and return it to us. As soon as
                        the item is
                        received back a full refund will be issued.</p>
                    <p><b>How do I return an item I received as a gift?</b></p>
                    <p>If the item was purchased on vlad.com you may contact our Customer Service department and
                        they will issue a 'Gift Exchange' return authorization. Once the item is received back, an
                        Promotional Code equal to the amount paid for the merchandise will be emailed to the gift
                        recipient so they may purchase a different item on vlad.com.</p>
                </div>
                </div>
            </div>
        </div>
{% endblock %}