{% extends 'WebsiteBundle::base.html.twig' %}
{% block content %}
    <div class="main">
        <div class="innermain">
            <div class="consent">
                <h3>PRIVACY POLICY</h3>
            </div>
            <div class="faq">
                <div class="writing2">
                    Vlad, Ltd. respects your privacy and is committed
                    to taking reasonable steps towards protecting your privacy online and
                    managing your information responsibly, in order to best understand the
                    products and services that are most useful to you. This Privacy Policy is
                    intended to notify you of our online privacy practices, the type and
                    categories of information that may be collected, disclosed and stored, how
                    the information is used, with whom the information may be shared, what
                    choices are available to you regarding the collection, use and distribution
                    of the information, what kind of security procedures are in place to
                    protect the loss, misuse or alteration of information under our control,
                    your rights regarding your personal information and who to contact with
                    questions or concerns.

                    This Privacy Policy applies to the Steve Madden stores; the websites
                    located at www.vladltd.com , to any phone, fax, and/or mail
                    operations concerning processing of orders and questions about products or
                    services, as well as our marketing contacts with you. This Privacy Policy
                    does not apply to other websites to which we may link, or to other
                    companies or persons who might be listed as third-party contacts or
                    suppliers on the Website, or to whom we may refer you if you call or write
                    us. We may post links on the Website as a way of helping you locate related
                    information and products easily. However, when linking to another website,
                    you must review that website’s privacy notice as other websites may not
                    treat information collected online in the same manner as we do. This
                    Privacy Policy also does not apply to information collected when you
                    purchase our products in department and specialty stores, or on other
                    third-party websites where our products are sold. Unless otherwise
                    specified, personal information collected from these other channels is not
                    provided to Vlad Ltd., and Vlad Ltd. has no control over how they use
                    the information that they collect.

                    By using the Website and/or by contacting us and providing any personal
                    information, you consent to the collection and use of information by us in
                    accordance with this Privacy Policy, as well as the Website Terms of Use.
                    If we decide to change our Privacy Policy, we will post those changes on
                    this page and, at the end of this Privacy Policy, indicate the date that
                    changes were last made.

                    WHY WE COLLECT INFORMATION:

                    We collect personal information because it helps us improve and deliver our
                    products and services. In addition, your personal information helps us
                    communicate to you our latest products, special offers, and information and
                    events about which you might like to hear. We also collect your personal
                    information to help us design and deliver our Website, and to deliver
                    targeted marketing to you based on your interests and previous purchases.
                    We also may correlate your personal information obtained from you with
                    information from other sources. For example, if you provide us with your
                    personal information, we may cross-check that against information that
                    might be otherwise available through other entities such as when you, or a
                    business with which you are affiliated, seeks to open a credit account with
                    us, or in order to prevent or detect fraud.

                    WHAT INFORMATION WE COLLECT:

                    The following generally describes the type of information we may collect
                    about you. Those who wish to communicate with us but do not wish to provide
                    personal information online may contact us through the address or phone
                    numbers provided on our Website, or through our online chat function.
                    However, you should note that if you contact us by phone, online chat or
                    via postal mail, you may still be submitting personal information to us, as
                    set forth herein.

                    We collect the following general categories of personal information:

                    Personal Identifiers;

                    Categories of personal information related to the California Customer
                    Records statute (Cal. Civ. Code § 1798.80);

                    Commercial information;

                    Audio, electronic and visual information;

                    Internet or other electronic network activity information;

                    Geolocation Data; and

                    Protected classification information;

                    The specific types of personal information we collect are described in
                    detail below.
                </div>
            </div>
        </div>
    </div>
{% endblock %}