{% extends 'WebsiteBundle::base.html.twig' %}

{% block content %}
    <div class="main">
        <div class="innermain">
            <div class="consent">
                <h3> PROMOTION TERMS & CONDITIONS </h3>
            </div>
            <div class="promotion writing">
                <div class="promos">
                    <p>
                        Promotions <b><u>DO NOT</u></b> apply to sale items and clearance items unless otherwise
                        stated.
                        Promotions exclude sale, clearance, apparel, pre-order and the following styles:
                    </p>


                <p>
                    CLEARANCE STYLES, AUDIENCE, BANDI, BERTIE, BLADE, BRADEN, CAIRO, CALIBER,
                    CALIBER-F, CALIBER-L, CAMILLE, CARRSON-R, COMFORT, DOVER, ECENTRCQ, FABFUZZ, FEATHER, FEATHERL,
                    FEATHER-S, FESTIVE, GILLS, GILLS-A, GILLS-C, IRENEE, ISSY, ISSY-R, KIMMIE, LADON, LOFT, LOFT-R,
                    NECTUR,
                    NOA, RAMZI, RANGER, REVIVAL, REWARDED, REZZA, ROOKIE, RUBIE, SLINKY30, TORNADO, TRISTA, TROOPA,
                    VALA,
                    VALA-R, VALA-S, WEDGIE, WEDGIE-RB, WONDERS, BAUBREE, BBENGAL LEOPARD, BCATER, MULTI, SNAKE, BJAZ,
                    BLACK,
                    CROCO, BKWEEN, MULTI, SNAKE, BMAXED, SILVER, BSCENE, BSEDUCE, BSUBLIME, BSWAGGER, BTRISH,
                    CAMOUFLAGE,
                    JACEY, KEYSTONE, WINNINGS, SUBTLE GREY SNAKE, SUBTLE BLK CROCCO, SUBTLE BM CROCCO, DAVIST BONE
                    LEATHER,
                    PIXIE BLACK LEA, PIXIE BROWN SNAKE, VELINA BLK, VELINA CAMEL, SKYLA, KNOXI, CLASSIFY, TWISTER,
                    FIREWORK,
                    BLOOMED, BAINE, GUILTLESS, SCALE, MAC, MAYBELL, DUAL, DESIRED, CAMPANA, MARCELLA, PURA, STRATEGY,
                    LOCANA, MERMAID, DEJA, ADLEY
                </p>
                </div>
                <ul class="list">
                    <li>
                        Promotions do not apply to sale items, clearance items and apparel items
                        unless
                        otherwise stated.
                    </li>
                    <li>
                    Promotions are not valid for cash or cash equivalent. Promotions cannot be applied to previous
                    purchases nor combined with any other offers or discounts including price matching of any other
                    retailer. Promotions cannot be combined with the Steve Madden employee discount.
                    </li>
                    <li>

                        Qualifying promotion amount applies to merchandise only, excluding Gift Cards, E-Gift Cards,
                        packaging, sales tax and shipping and handling charges.
                    </li>
                    <li>

                        Returns and exchanges are subject to Steve Madden's return policy.
                    </li>
                    <li>
                        Offers are non-transferable.
                    </li>
                    <li>
                        Steve Madden has the right to cancel or change any promotion at any time without notice and in
                        its
                        sole discretion.
                    </li>
                    <li>
                        Promotions may be subject to availability.
                    </li>
                    <li>
                        Become an VM Member and receive Free Two-Day Shipping on orders over $50 plus free in store
                        returns.

                        Free Shipping promotion is only valid for shipping addresses in the United States excluding
                        Alaska,
                        Hawaii, US Virgin Islands, Puerto Rico, Guam, military and air force bases.

                        Please note, this promotion may not be combined with any other offers unless explicitly noted.
                        This
                        offer is not valid on Clearance Items, Preorders or Gift Card orders.

                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}