{% block content %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, user-scalable=1.0, maximum-scale=1.0">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap"
              rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
              rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{{ asset('bundles/website/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/website/css/fontawesome/css/all.css') }}"
              rel="stylesheet">
        <title>Login</title>
    </head>

    <div class="main-login">
        <div class="login">
            <form class="form-signin" method="post">
                <img class="mb-4"
                     src=" {{ asset ('bundles/website/images/big-logo-sm.jpg') }}" alt="logo">
                <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                <label for="registerName" class="sr-only">Name</label>
                <input type="text" id="registerName" class="form-control" name="name"
                       placeholder="Name" required>
                <label for="registerSurname" class="sr-only">Name</label>
                <input type="text" id="registerSurname" class="form-control" name="surname"
                       placeholder="Surname" required>
                <label for="registerEmail" class="sr-only">Email address</label>
                <input type="email" id="registerEmail" class="form-control" name="email"
                       placeholder="Email address" required autofocus>
                <label for="registerPassword" class="sr-only">Password</label>
                <input type="password" id="registerPassword" name="password"
                       class="form-control"
                       placeholder="Password" required>
                <small> Password must contain at least 1 number, 1 capital letter and 1
                    special character</small>
                <div id="buttonlogin">
                    <button class="btn btn-lg btn-primary btn-block" type="submit"
                            id="login_button">Register
                    </button>
                    <p class="mt-5 mb-3 text-muted">&copy; Vlad Ltd. 2020</p>
                </div>
            </form>
        </div>
    </div>
    </html>
{% endblock %}