{% extends 'WebsiteBundle::base.html.twig' %}
{% block content %}
    <div class="main">
        <div class="innermain">
            <div class="consent">
                <h3>RETURN POLICY</h3>
            </div>
            <div class="faq">
                <div class="writing2">
                    <h4><u>RETURNS BY MAIL</u></h4>
                    &nbsp;
                    <p>
                        Vlad Ltd. will gladly authorize returns of UNWORN Merchandise within 30 days of receipt of
                        your order.
                        Please sign into your account and click the ‘Generate Return Label’ under ‘My Account’. There
                        you can
                        request to return the merchandise and a pre-paid return label will be emailed to you. You may
                        drop the
                        package at any FedEx location or you may give the package to the United States Post Office.
                        Shipping charges
                        are not refundable and there is a $6.95 per order return fee that covers restocking and postage
                        back
                        to the warehouse. Returns will be refunded in the original method of payment. Your return
                        request must be made within 30 days of when your order was delivered and we must receive the
                        merchandise back at the warehouse
                        within 15 days of when the authorization was issued. Do not send items back through other means
                        or without
                        obtaining a return authorization as your package may be sent back to you. You may request a
                        return online by
                        signing into your account, via phone at 0745774465, or by email evlad3201@gmail.com. Usual
                        turnaround time is 1-2 weeks from time shipped to when refund is issued.
                    </p>

                    <p><b>PLEASE NOTE: Clearance Items and Earrings may not be returned or exchanged. All purchases are
                            final on Clearance items and Earrings.</b></p>

                    <p><b>Please also refer to our <a href="{{ path('faq') }}" class="onwhite"><u>FAQ</u></a> section
                            for more details.</b></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

