{% extends 'WebsiteBundle::base.html.twig' %}
{% block content %}
    <div class="main">
        <div class="innermain">
            <div class="consent">
                <h3>SHIPPING POLICY</h3>
            </div>
            <div class="faq">
                <div class="writing2">
                    <h5>FREE 2-DAY SHIPPING SPECIAL OFFER (LIMITED TIME ONLY)</h5>
                    <p>VM PASS Members receive Free Two-Day Shipping on orders over $50 plus
                        free in store return. Free Shipping promotion is only valid for
                        shipping addresses in the United States excluding Alaska, Hawaii, US
                        Virgin Islands, Puerto Rico, Guam, military and air force bases. Please
                        note, this promotion may not be combined with any other offers unless
                        explicitly noted. This offer is not valid on Clearance Items, Preorders
                        or Gift Card orders.</p>
                    <p>Clearance items, shipping fees and sales tax are not counted towards the
                        merchandise subtotal. Only one promotional code can be used per order.
                        Free Shipping promotion may not be combined with any other offers
                        unless explicitly noted.</p>
                    <p>There is no expedited shipping outside the 48 states. We do not offer
                        Two Day or Next Day delivery to Alaska, Hawaii, Guam, Puerto Rico, U.S.
                        Virgin Islands and Military bases.

                    </p>
                    <h5>Shipping Procedures</h5>
                    <h6 style="font-weight: bold; margin-top:20px;">SHIPPING CONFIRMATION
                        EMAILS</h6>
                    <p>We will send you a shipping confirmation email when all or part of your
                        order is shipped that will include the FedEx tracking number. You will
                        be sent a shipping confirmation email with a tracking number for every
                        shipment. You can also check the status of your order anytime by
                        clicking on the Order Tracking link in the footer of every page on this
                        site or by logging in to My Account and going to My Orders.</p>
                    <h6 style="font-weight: bold">SHIPPING IN MULTIPLE PACKAGES</h6>
                    <p>If your order includes several items, they may ship separately and at
                        different times. So that we can deliver your purchases to you as
                        efficiently as possible, items which ship from the same location are
                        grouped together. Our shipping confirmation emails will let you know
                        how much of your order has shipped.</p>
                    <h6 style="font-weight: bold">DELIVERING YOUR PACKAGE</h6>
                    <p>We process, ship, and deliver packages Monday through Friday. At this
                        time, we do not offer shipping or delivery on Saturday, Sunday, or
                        holidays.
                        Your order may be delayed if your shipping address is different from
                        your billing address (we use this additional time to help ensure the
                        security of your credit information).
                        Most items are available to ship in 1-2 business days unless otherwise
                        noted.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}