{% extends 'WebsiteBundle::base.html.twig' %}
{% block content %}
    <div class="main">
        <div class="innermain">
            <div class="consent">
                <h3>TERMS OF USE</h3>
            </div>
            <div class="faq">
                <div class="writing2">
                    <p><b>PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THE WEBSITE.
                            YOUR
                            USE OF
                            THE WEBSITE CONFIRMS YOUR UNCONDITIONAL ACCEPTANCE OF AND AGREEMENT
                            TO
                            BE BOUND
                            BY THE FOLLOWING TERMS OF USE AND TO THE COLLECTION AND USE OF YOUR
                            INFORMATION
                            AS SET FORTH IN OUR PRIVACY POLICY. IF YOU DO NOT ACCEPT THESE
                            TERMS OF
                            USE OR
                            THE TERMS OF OUR PRIVACY POLICY, DO NOT USE THE WEBSITE. PLEASE
                            NOTE
                            THAT THESE
                            TERMS OF USE REQUIRE THAT DISPUTES BE RESOLVED ONLY BY ARBITRATION
                            (AND
                            NOT BY
                            COURT LITIGATION) IN NEW YORK, NEW YORK (OR THE CITY NEAREST TO YOU
                            WHERE THE
                            AMERICAN ARBITRATION ASSOCIATION HAS AN OFFICE), THAT YOU WAIVE ANY
                            RIGHT TO
                            JURY TRIAL, AND THAT YOU WAIVE ANY RIGHT TO BRING CLASS ACTIONS
                            AGAINST
                            US.
                            PLEASE REVIEW SECTIONS IX AND X BELOW REGARDING GOVERNING LAW,
                            ARBITRATION AND
                            NO CLASS ACTIONS FOR COMPLETE DETAILS.
                        </b>
                    </p>
                    <p>By accessing or using the Vlad, Ltd. website
                        located at www.vladltd.com , you indicate that you have read and
                        understand this Terms
                        of
                        Use Agreement (the "Terms of Use"), which incorporates by reference our
                        Privacy Policy, located at <a class="onwhite"
                                                      href=" {{ path('privacy-policy') }}"> www
                            .vladltd.com/privacy </a>,
                        and that
                        you
                        agree
                        to be bound by it in its entirety. You must accept the Terms of Use in
                        order to use the Website. If you do not understand or have questions
                        about
                        the Terms of Use, immediately stop all use of the Website and contact
                        evlad3201@gmail.com. If you do not accept the Terms of Use, you may
                        not
                        use the Website. Your continued use of the Website constitutes your
                        agreement to the most current version of the Terms of Use. If at any
                        time
                        you do not agree to the Terms of Use, you must cease your use of the
                        Website.

                        The Terms of Use apply only to the Website and do not apply to any
                        websites
                        that are linked to the Website. For access to the terms and conditions
                        or
                        privacy policies of linked websites, please refer to the policies of
                        such
                        websites. It is your obligation to review the Terms of Use before
                        accessing
                        the Website or making a purchase. Any changes to the Terms of Use will
                        be
                        effective immediately upon our posting them to the Website, unless
                        otherwise stated. We reserve the right to change the contents of the
                        Website at any time in our sole discretion, with or without notice.
                        Your
                        continued use of the Website following the posting of changes to the
                        Terms
                        of Use means that you accept and agree to the changes.

                        All terms and conditions are applicable to the extent permitted by law.
                        If
                        any of these terms and conditions is deemed invalid, void or for any
                        reason
                        unenforceable, that unenforceable term will be deemed severable and
                        will
                        not affect the validity and enforceability of any remaining terms and
                        conditions.

                        Use of the Website constitutes acceptance of these terms and conditions
                        and
                        of the Vlad Ltd. Privacy Policy.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}