{% extends 'WebsiteBundle::base.html.twig' %}
{% block content %}

    <div class="main">
        <div class="innermain">
            <div class="consent">
                <h3>TERMS OF SALE</h3>
            </div>
            <div class="faq">
                <div class="writing2">
                    <h5>SUBMISSION OF YOUR ORDER</h5>
                    <p>You understand that in order to submit your order, you will be required
                        to explicitly agree to abide by the Terms of Use and the Privacy Policy
                        contained in the Site Terms section of the Steve Madden Website. You
                        also acknowledge that you have read, accept, and agree to abide by
                        Vlad Ltd's return and shipping policies. It is your responsibility
                        to ascertain and obey all applicable local, state, federal and
                        international laws, as applicable, regarding the sale and use of any
                        item purchased from the Website. By placing an order, you represent
                        that the products ordered will be used only in a lawful manner.</p>
                    &nbsp;
                    <h5>ACCEPTANCE OF YOUR ORDER</h5>
                    <p>You will not be charged until your order is verified, payment has been
                        authorized, and your order has entered the shipping process. However,
                        Vlad Ltd. reserves the right to decline your order at its sole
                        discretion, at any time, whether you have received a confirmation or
                        your credit card has been charged. Some of the reasons your order may
                        be declined are if the goods are unavailable, if pricing is in error,
                        or if there are problems concerning credit or an issue of fraud is
                        detected. We will contact you if we need more information. If your
                        order is declined, we will credit your original method of payment for
                        any amount charged with respect to such order. While it is our practice
                        to confirm orders by email, the receipt of an email order confirmation
                        does not constitute our acceptance of an order or our confirmation of
                        an offer to sell a product or service.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}